body {
  background-color: rgb(5, 65, 5);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-size: 60px;
  color: goldenrod;
}

.container {
  color: #fff;
  text-align: center;
  font-size: 30px;
}

#message-el {
  font-style: italic;
}

button {
  padding: 10px;
  color: #016f32;
  background: goldenrod;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}
